

@grid-columns:          12;
@grid-gutter-width:     30px;
@grid-float-breakpoint: 768px;

.p {
  columns: 1;
  column-width: 20em;
  text-align: center;
  column-gap: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  margin-top: 0px;
  border-image-width: 20px 40px;
  line-height: 70%;
  color: white;

  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container {
  padding-top: 0px;
  padding-bottom: 0px;

}

.img-responsive{
  border-radius: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}


.table {
    border-collapse: separate;
    border-spacing: 10px 50px;
}

h1 {
  text-align: center;
  font-size: 3.9rem;
  letter-spacing: -1px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
}

h3{

font: small-caps 100%/200% serif;
font-weight: 500;
font-size: 2.1rem;
color: #000;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;

}


.bg-primary {
	background: #000;
	color: white;
}

.navbar {
    position: relative;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: black;
    margin: 30;
    border-radius: 0;
    align-content: left;
}

.sticky-top {
	color: white;
  padding-top: 11px;
}

.navbar-dark {
	color: white;
}

.navbar-brand {
	color: white;
  padding-top: 0px;
}

.btn-secondary {
  color: black;
}

.btn {
  
}

