@grid-columns:          12;
@grid-gutter-width:     30px;
@grid-float-breakpoint: 768px;

.p {
  columns: 3;
  column-width: 20em;
  text-align: center;
  column-gap: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  margin: 0;
  border-image-width: 20px 40px;
  line-height: 70%;
  color: white;
}

.container {
  padding-top: 0px;
  padding-bottom: 0px;

}

.img-responsive{
  border-radius: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.table {
    border-collapse: separate;
    border-spacing: 10px 50px;
}

h1 {
  text-align: center;
  font-size: 3.9rem;
  letter-spacing: -1px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #3B0606;
  margin-top: 15px;
  margin-bottom: 10px;
}

h3{

font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 500;
font-size: 1.7rem;
color: #000000;
text-align: center;
margin-top: 5px;
margin-bottom: 10px;

}


.bg-primary {
	background: #8BCB02;
	color: white;
}

.navbar {
    position: relative;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: black;
    margin: 30;
    border-radius: 0;
    align-content: left;
}

.sticky-top {
	color: white;
  padding-top: 11px;
}

.navbar-dark {
	color: white;
}

.navbar-brand {
	color: white;
  padding-top: 0px;
}

.btn-secondary {
  color: black;
}

.btn {
  
}

